.header {
    width: 100%;
    align-items: center;
    height: 300;
    justify-content: space-around;
}

.TitleContainer {
    width: 150,
}

.logo {
    width: 150;
    height: 90;
}

.title {
    font-size: 24;
    text-align: center;
}
